.anticlick {
    z-index: 998;
    position: absolute;
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.3;
    visibility: hidden;
}

.popin {
    z-index: 999;
    position: absolute;
    width:30%;
    height: 17vw;
    top: 30%;
    left: 35%;
    border: 3px solid #ffdcc9;
    font-family:"century gothic";
    background-color: #ffeee4;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1.5px 1.5px 5px black;
    visibility: hidden;
}

.TitreInContent {
    margin-top: 2.5vw;
    font-size: 2vw;
}

.table {
    margin-left: 7.5vw;
}

input{
    font-size: 1.2vw;
}

.button {
    color: white;
    border-radius: 10px;
    background-color: #ff7d2f;
    border-color: #ff7d2f;
    font-family:"century gothic";
}

.buttonInContent {
    margin-top: 2vw;
    color: white;
    border-radius: 10px;
    background-color: #ff7d2f;
    border-color: #ff7d2f;
    font-family:"century gothic";
    font-size: 1.2vw;
}